<app-nav-principal></app-nav-principal>
<div *ngIf="produto" class="container">
    <div class="principal">
        <div class="imgPrin">
            <img src="{{produto.imagem}}" class="card-img-top" alt="...">
        </div>
        <div>
            <div>
                <h2>{{produto.nome}}</h2>
                <h3 style="color: #7f63f4; font-size: 30px;">Valor: R$ {{produto.valor}}</h3>
                <h3>Quantidade Restante: {{produto.quantidade}}</h3>
            </div>
            <div class="button-style">
                <button class="btn btn-primary button" (click)="Comprar(produto)">Comprar</button>
            </div>
        </div>
    </div>
    <div class="specProd">
        <h4>{{produto.descricaoLonga}} </h4>
    </div>
</div>