<div class="body">
    <div class="navbar">
        <div class="logo">
            <img src="logo.png" alt="Zappos">
        </div>
        <div class="search-container">
            <input type="text" placeholder="Search for shoes, clothes, etc.">
            <button type="submit">Search</button>
        </div>
        <div class="cart-signin">
            <button class="cart-button">My Cart</button>
            <button class="signin-button">Sign In / Register</button>
        </div>
    </div>
    <div class="menu" >
        <mat-form-field>
            <mat-label>Panel color</mat-label>
            <mat-select [formControl]="panelColor"
                        panelClass="example-panel-{{panelColor.value}}">
              <mat-option value="red">Red</mat-option>
              <mat-option value="green">Green</mat-option>
              <mat-option value="blue">Blue</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>