<div class="body">
    <div class="navbar">
        <div class="logo">
            <img src="logo.png" alt="Guri">
        </div>
        <div class="search-container">
            <input type="text" placeholder="O que você procura">
            <button type="submit">Procurar</button>
        </div>
        <div class="cart-signin">
            <button class="cart-button">Carrinho</button>
            <button class="signin-button">Entrar / Registrar</button>
        </div>
    </div>
    <div class="menu" >
        <mat-form-field appearance="fill">
            <mat-label>Panel color</mat-label>
            <mat-select *ngFor="let cat of categorias">
              <mat-option value="red">Red</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
</div>