.navPrincipal {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuBarLateral {
    width: 20%;
    display: flex;
    justify-content: left;
}

.produtoPrincipal {
    display: flex;
    justify-content: center;
}

// .produtos {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 10px;
// }

