<app-nav-principal></app-nav-principal>
<div class="container" *ngIf="Produto">
    <div class="product-description">
        <div class="product-image">
            <div class="img">
                <img src="{{Produto.imagem}}" class="card-img-top" alt="...">
            </div>
            <div class="text">
                <p>{{Produto.nome}}</p>
            </div>
        </div>
        <div class="product-price">
            <p style="padding-top: 1px;">Preço R$ {{Produto.valor}}</p>
        </div>
    </div>

    <form class="payment-form" [formGroup]="pessoaForm">
        <h2>Seus Dados</h2>
        <label for="name">Nome:</label>
        <input id="name" formControlName="nome" type="text">

        <label for="cpf">CPF:</label>
        <input id="cpf" formControlName="cpf" type="text">

        <label for="phone">Celular:</label>
        <input id="phone" formControlName="celular" type="text">

        <h2>Dados da Entrega</h2>
        <label for="address">Endereço:</label>
        <input id="address" formControlName="endereco" type="text">

        <label for="district">Bairro:</label>
        <input id="district" formControlName="bairro" type="text">

        <label for="complement">Complemento:</label>
        <input id="complement" formControlName="complemento" type="text">

        <h2>Forma de Pagamento</h2>
        <label><input type="radio" name="payment" value="pix"> Pix</label>
        <label><input type="radio" name="payment" value="credito"> Cartão Crédito</label>
        <label><input type="radio" name="payment" value="debito"> Cartão Débito</label>

        <button type="submit" (click)="finalizar()">Finalizar</button>
    </form>
</div>